<div class="container">

    <div class="content">
      <h1>Welcome to my Sinatra App!</h1>
      <% if !logged_in? %>
      <%= @error %>

        <a href='/signup'>Create a User</a>
        <a href='/login'>Log In</a>

      <% else %>

        <a href='/logout'>Log Out</a>

      <% end %>
    </div>

    <p><img src="https://external-preview.redd.it/RAPNBfJIENUR7xWBPyEJfQnNrx0r22weKGj1yfezZ-4.jpg?width=768&auto=webp&s=04c691cefa0f2c59cf0b8e4eae94f8ccaf5e5eb6" class="img-responsive main-image"></p>
    <div class="col-md-8 col-md-offset-2">

  </div>
</div>
