<h1>Edit Sneakers!</h1>

<% if logged_in? %>
<%= @error %>
  <form action='/sneakers/<%= @sneaker.id %>' method="post">
  <input type="hidden" name="_method" value="patch">
    Name:
    <input type="text" name="context" value="<%= @sneaker.context %>">
    <br>
    <br>
    Update Your Sneaker:
    <input type="submit" value="Submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Changes to your Collection</h1>
  <% end %>
