<h1>Sneaker Index</h1>

<h2>Welcome, <%= current_user(session).username %></h2>

<a href='/sneakers/new'>Add a Sneaker</a>

<ul>
  <% @sneakers.each do |sneaker| %>
    <li><a href="/sneakers/<%= sneaker.id %>"><%= sneaker.context %></a></li>
  <% end %>
</ul>

<br>

<a href='/logout'>Log Out</a>
