<% if logged_in? %>
<%= @error %>
  <form action='/sneakers' method="post">
    Sneaker:
    <input type="text" name="context">
    <br>
    <br>
    Add a Sneaker to Your Collection:
    <input type="submit" value="Submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Update Sneaker Collection </h1>
  <% end %>
