<% if logged_in? %>
<%= @error %>
  <form action='/sneakers' method="post">
    Content:
    <input type="text" name="content"><br>
    Add a Sneaker to Your Collection:

    <input type="submit" value="submit">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Update Sneaker Collection </h1>
  <% end %>
